<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Users</title>
</head>

<body>

<h1>All Users</h1>

<table border="1">

    <thead>
        <tr>
            <th>UserId</th>
            <th>Username</th>
            <th>Email</th>
            <th>Action</th>  //added this
        </tr>
    </thead>

    <tbody>
        <% for (let user of result) { %>
            <tr>
                <td><%= user.id %></td>
                <td><%= user.username %></td>
                <td><%= user.email %></td>
                <td>
    <a href="/users/<%= user.id %>/edit">Edit</a> //for edit 
</td>
            </tr>
        <% } %>
    </tbody>

</table>

</body>
</html>